@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@400;500&family=Work+Sans:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background-image: linear-gradient(to right, #F4A250, #FFFF66, #FFCC00 );
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-top: 30px;
    background-color: rgba(251, 248, 248, 0.945);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 34px 40px 0 rgb(200 196 196 / 9%), 0 5px 130px 0 rgb(0 0 0 / 26%);
}

.container h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px ;
}

/*classe do input*/
.input-tarefa {
    background-color: rgba(251, 248, 248, 0.945);
    border-radius: 6px;
    padding: 8px;
}

/*classe do botão de adicionar*/
.btn-tarefa {
    background-color: #F4A250;
    color: #ffffff;
    font-size: 15px;
    width: 150px;
    height: 37px;
    border-radius: 6px;
    margin: 10px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(200, 196, 196, 0.09), 0 6px 14px 0 rgb(0 0 0 / 14%);
}

.tarefas li {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(85, 82, 82);
    font-weight: 600;
    list-style-type: decimal;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.apagar {
    font-size: 13px;
    color: white;
    background-color: #F4A250;
    border-radius: 6px;
    border-color: aqua;
    padding: 5px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(200, 196, 196, 0.09), 0 6px 14px 0 rgb(0 0 0 / 14%);
    cursor: pointer;
}